
.navbar {
  background-color: lightblue;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: 'Georgia, serif';
  font-size: 1.5rem;
  width: 225px;
  height: 90px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.nav-links li a:hover {
  color: #007bff;
}

.hero {
  padding: 4rem;
  text-align: center;
  background: rgba(0, 0, 0, 0.5) url(/Users/jameskang/Desktop/Desktop - James’s MacBook Pro/VSC/BIT 4484/soulvaki/soulvakinewflavor/soulvaki/src/assets/background.jpg);
  background-size: cover;
  background-blend-mode: overlay;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: white;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: white;
}

.menu-btn {
  padding: 0.75rem 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-btn:hover {
  background-color: #0056b3;
}

.menu-section {
  padding: 4rem;
  background-color: white;
  text-align: center;
  color: black;

}

.menu-section h3 {
  margin-bottom: 2rem;
}

.menu-items {
  display: flex;
  justify-content: space-around;
}

.menu-items div {
  text-align: center;
}

.footer {
  padding: 2rem;
  text-align: center;
  background-color: lightblue;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  text-decoration: none;
  color: #007bff;
}

.footer a:hover {
  text-decoration: underline;
}